---
- name: Install required packages
  apt:
    name: ["curl", "git"]
    update_cache: yes

- name: Install Node.js and npm
  shell: |
    curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
    apt-get install -y nodejs

- name: Clone TravelMemory repository
  git:
    repo: "https://github.com/UnpredictablePrashant/TravelMemory.git"
    dest: /opt/travelmemory
    version: main

- name: Install backend dependencies
  shell: |
    cd /opt/travelmemory/backend && npm install

- name: Install frontend dependencies
  shell: |
    cd /opt/travelmemory/frontend && npm install

- name: Configure environment variables
  copy:
    dest: /opt/travelmemory/backend/.env
    content: |
      PORT=3001
      MONGO_URI=mongodb://{{ hostvars['44.201.98.76'].ansible_default_ipv4.address }}:27017/travelmemory
      NODE_ENV=production

- name: Start backend server
  shell: |
    cd /opt/travelmemory/backend
    nohup npm start &

- name: Start frontend build
  shell: |
    cd /opt/travelmemory/frontend
    nohup npm run build &
