---
- name: Install MongoDB
  apt:
    name: ["mongodb-org"]
    update_cache: yes

- name: Start and enable MongoDB service
  systemd:
    name: mongod
    state: started
    enabled: yes

- name: Configure MongoDB to allow remote access
  lineinfile:
    path: /etc/mongod.conf
    regexp: '^  bindIp:'
    line: '  bindIp: 0.0.0.0'
  notify: Restart MongoDB

- name: Create MongoDB database and user
  shell: |
    mongo <<EOF
    use travelmemory
    db.createUser({user: "travelAdmin", pwd: "travelPass123", roles:[{role:"readWrite", db:"travelmemory"}]})
    EOF
  args:
    executable: /bin/bash

- name: Enable UFW and allow MongoDB only from web server
  ufw:
    rule: allow
    proto: tcp
    port: '27017'
    src: "{{ hostvars['54.210.123.45'].ansible_default_ipv4.address }}"

- name: Enable UFW
  ufw:
    state: enabled

handlers:
  - name: Restart MongoDB
    systemd:
      name: mongod
      state: restarted
