---
- name: Setup and deploy MERN web application
  hosts: web
  become: yes
  gather_facts: yes

  tasks:
    - name: Install Nginx on Ubuntu
      apt:
        name: nginx
        state: present
        update_cache: yes
      when: ansible_facts['os_family'] == 'Debian' and ansible_facts['distribution'] == 'Ubuntu'

    - name: Ensure Nginx is running
      service:
        name: nginx
        state: started
        enabled: true

    - name: Install Node.js and npm
      apt:
        name:
          - nodejs
          - npm
        state: present
        update_cache: yes

    - name: Clone MERN app repo
      git:
        repo: 'https://github.com/ranyabrkumar/Mern_DeploymentAndMonitoring.git'
        dest: /home/ubuntu/Mern_DeploymentAndMonitoring
        version: main

    - name: Install backend dependencies
      command: npm install
      args:
        chdir: /home/ubuntu/Mern_DeploymentAndMonitoring/backend

    - name: Install frontend dependencies
      command: npm install
      args:
        chdir: /home/ubuntu/Mern_DeploymentAndMonitoring/frontend

    - name: Add backend .env file
      copy:
        dest: /home/ubuntu/Mern_DeploymentAndMonitoring/backend/.env
        content: |
          PORT=3001
          MONGO_URI=mongodb://{{ hostvars['db'].ansible_host | default('35.91.175.172') }}:27017/mernapp

    - name: Start backend server
      shell: nohup npm start &
      args:
        chdir: /home/ubuntu/Mern_DeploymentAndMonitoring/backend

    - name: Start frontend (React) app
      shell: nohup npm start &
      args:
        chdir: /home/ubuntu/Mern_DeploymentAndMonitoring/frontend


- name: Setup MongoDB Database Server
  hosts: db
  become: yes
  gather_facts: yes

  tasks:
    - name: Install MongoDB
      apt:
        name: mongodb
        state: present
        update_cache: yes
      when: ansible_facts['os_family'] == 'Debian' and ansible_facts['distribution'] == 'Ubuntu'

    - name: Ensure MongoDB service is running
      service:
        name: mongodb
        state: started
        enabled: true

    - name: Enable remote access in MongoDB config
      lineinfile:
        path: /etc/mongodb.conf
        regexp: '^bind_ip'
        line: 'bind_ip = 0.0.0.0'
      notify: Restart MongoDB

  handlers:
    - name: Restart MongoDB
      service:
        name: mongodb
        state: restarted
